body {
  margin: 0;
  font-family: Arial;
}

.top-container {
  background-color: #f1f1f1;
  text-align: center;
}

header {
  background-color: #660033;
  color: #FFF;
  width: 100%;
  padding-top: 5px;
  font-family: Georgia;
  margin-bottom: 30px;
}

header a {
  text-decoration: none;
  width: auto;
  padding-left: 38px;
  color: #FFF;
}

header p {
  background-color: #000000;
  font-family: Georgia;
  letter-spacing: 1px;
  width: 100%;
  color: #FFF;
  padding-left: 38px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.main {
  display: block;
  outline: 5px solid #b27f99;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 60%;
}
.main img {
  width: 100%;
}
.main p {
  color: #000000;
  margin-top: 20px;
  padding-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 22px;
  letter-spacing: .5px;
}

#H {
  width: 75%;
}

#squares img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#symbol {
  width: 75%;
}
.profile {
  outline: 5px solid #b27f99;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 900px;
  height: 400px;
}
.profile img {
  width: 400px;
  float: left;
}
.profile p {
  color: #000000;
  margin-top: 20px;
  padding-top: 25px;
  padding-right: 20px;
  margin-bottom: 22px;
  letter-spacing: .5px;
}

article {
  margin-top: 20px;
  margin-left: 5px;
  height: 900px;
}
.item {
  width: 375px;
  height: 435px;
  display: grid;
  outline: 5px solid #b27f99;
  float: left;
  background-color: #b27f99;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 5px;
}
.item img {
  width: 375px;
  height: 375px;
}
.item h3 {
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 22px;
  letter-spacing: .5px;
}
.item a {
  text-align: center;
  text-decoration: none;
  color: #FFF;
  color: #000000;
  margin-top: 16px;
  margin-bottom: px;
  letter-spacing: .5px;
}

footer {
  background-color: #000000;
  color: #FFF;
  padding-left: 38px;
  font-family: Georgia;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 30px;
  width: 100%;
  float: left;
}

footer a {
  text-decoration: none;
  color: #FFF;
  letter-spacing: .5px;
}

.content {
  padding-left: 35px;
  padding-top: 15px;
}

.sticky {
  position: fixed;
  top: 30;
  width: 100%;
}

.sticky + .content {
  padding-top: 100px;
}
